html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.wrapper {
	width: 70%;
	height: 100%;
	min-width: 800px;
	padding-left: 15%;
	padding-right: 15%;

}

header {
	width: 100%;
	height: 50px;
}

#logo {
	height: 100%;
	width: 200px;
	float: left;
}

#logo img {
	width: 100%;
	height: 100%;
}

nav {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;

	text-align: center;
}

nav ul {
	margin: 0px;
	padding: 15px;
}

nav ul li{
	display: inline;
	padding-left: 10px;
}

ul li {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #0000a1;
}

ul.outer > li {
	margin-top: 20px;
}

ul li ul li, ul li td {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
	color: #0061a1;
}

main {
	width: 100%;
	height: 90%;

	float: left;

	padding-top: 20px;
}

footer {
	position: fixed;
	bottom: 0;

	text-align: center;

	width: 70%;
	min-width: 800px;
	height: 30px;
}

input, select {
	margin-top: 10px;
	/*margin-bottom: 5px;*/
}

input.no-margin {
	margin: 0;
}

.error {
	position: absolute;
	padding: 10px;
	font-size: 14px;
	color: red;
}

.success {
	position: absolute;
	padding: 10px;
	font-size: 14px;
	color: green;
}

.confirmation {
	position: absolute;
	border: 2px solid red;
	border-radius: 5px;
	background-color: white;
	font-size: 12px;
	padding: 5px;
	box-shadow: 0 0 10px;
}

form#teacher {
	display: none;
}

input[type=text], 
input[type=email],
input[type=password],
input[type=number] {
	width: 200px;
	height: 20px;
	border-radius: 5px;
	border-width: 1px;
	padding-left: 5px;
}

input[type=number] {
	width: 60px;
}

input[type=text].wide {
	width: 300px;
}

input[type=text].short {
	width: 100px;
}

select, option {
	border-radius: 5px;
	background-color: white;
}

span, legend {
	color: #0061a1;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

label {
	color: #0061a1;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
}

a {
	color: #0061a1;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: none;
}

a:hover {
	color: #aa61a1;
	/*text-decoration: underline;*/
}

a.small {
	font-size: 12px;
}

form#language {
	display: inline;
}

table {
	border-spacing: 0px;
	border-padding: 10px;
	border-collapse: collapse;
	margin-left: 50px;
	margin-top: 10px; margin-bottom: 10px;
}

table td, table th{
	text-align: left;
	font-size: 15px;
	padding: 5px;
	margin-left: 50px;
}

td.small {
	font-size: 12px;
}

fieldset {
	border: none;
	border-top: 1px solid #0061a1;
	margin-top: 20px;
}

.info {
	color: grey;
	font-size: 14px;
	padding-left: 10px;
}

.drop_down {
	cursor: pointer;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
}

.bottom-border {
	border-bottom: 1px solid #0061a1;
}

.left-border {
	border-left: 1px solid #0061a1;
}

.right-border {
	border-right: 1px solid #0061a1;
}

.block {
	padding-top: 20px;
	display: block;
}

.l-float {
	float: left;
}

.r-float {
	float: right;
}

.font14 {
	font-size: 14px;
}

.font12 {
	font-size: 12px;
}

.popup {
    border-radius: 10px;
    border: 1px solid red;
    background-color: white;
    margin: 30px auto 0;
    padding: 6px;
    
    position:absolute;
    width:500px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
}