{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Регистрация" %} {% endblock %}

{% block scripts %}
	<script src="{% static "home/js/reg.js" %}"></script>
	<script src="{% static "home/js/valid.js" %}"></script>
{% endblock %}

{% block main %}

<div class="page-header">
	<h3 class="col-lg-offset-1">{% trans "Регистрация" %}</h3>
</div>
		<form name="person" class="form-registration">
			<span>{% trans "Студент" %}</span>
			<input type='radio' name='who' value='student' checked='true'>
			<span>{% trans "Преподаватель" %}</span>
			<input type='radio'	name='who' value='teacher'>
		</form>

		{% include 'home/reg/student.html' %}
		{% include 'home/reg/teacher.html' %}

		<script>
			formVisibilityToggle(); // Показать поля выбранной персоны
            listener_on_change(); // Блокировка кнопки
		</script>
{% endblock %}
