{% load i18n %}

<form id='student' class="form-registration" action="{% url 'home:reg' %}" method="POST">
	{% csrf_token %}
		<label class="control-label" for="login">{% trans "Логин" %}</label>
	<div class="form-group">
		<input class='form-control' type="text" id="login" name="login"		placeholder="{% trans "Логин" %}"
			oninput='validateLogin($(this))'>
	</div>
		<label class="control-label" for="email">{% trans "E-mail" %}</label>
	<div class="form-group">
		<input class='form-control' type="email" id="email" name="email"		placeholder="{% trans "E-mail" %}"
			oninput='validateEmail($(this))'>
	</div>
		<label class="control-label" for="surname">{% trans "Фамилия" %}</label>
	<div class="form-group">	
		<input class='form-control' type="text" id="surname" name="surname"	placeholder="{% trans "Фамилия" %}"
			oninput='validateWord($(this))'>
	</div>
	
		<label class="control-label" for="name">{% trans "Имя" %}</label>
	<div class="form-group">	
		<input class='form-control' type="text"  id="name" name="name"		placeholder="{% trans "Имя" %}"
			oninput='validateWord($(this))'>
	</div>
	
		<label class="control-label" for="login">{% trans "Отчество" %}</label>
	<div class="form-group">	
		<input class='form-control' type="patronymic" id="patronymic" name="patronymic" placeholder="{% trans "Отчество" %}" oninput='validateWord($(this))'>
	</div>

		<span>{% trans "Курс" %}:</span>
		<select id="year" name="year" onchange="loadGroupsFrom({% url 'home:reg' %})">
			{% for year in years %}
				<option value="{{year}}">{{year}}</option>
			{% endfor %}
		</select>
		<span>{% trans "Группа" %}:</span>
		<select id="group" name="group">
			<script>loadGroupsFrom({% url 'home:reg' %})</script>
		</select>
		<br>
		<input class='student_reg' type="password" placeholder="{% trans "Пароль" %}" name="password"
			id="student"
			oninput='validatePassword($(this))'>
		<br>
		<input class='student_reg' type="password" name = 'password_rep' placeholder="{% trans "Повторить пароль" %}"
			oninput='validatePasswordConfirmation($(this),"student")'>
		<br>
		<input type="hidden" name="user_type" value="student">
		<input id = 'reg_student' type="submit" value="{% trans "Зарегистрироваться" %}">
</form>