{% load i18n %}

<form id='teacher' action="{% url 'home:reg' %}" method="POST">
		{% csrf_token %}
			<input class='form-control' type="text" name="login"		placeholder="{% trans "Логин" %}"
				oninput='validateLogin($(this))'>
			<br>
			<input class='form-control' type="email" name="email"		placeholder="{% trans "E-mail" %}"
				oninput='validateEmail($(this))'>
			<br>
			<input class='form-control' type="text" name="surname"	placeholder="{% trans "Фамилия" %}"
				oninput='validateWord($(this))'>
			<br>
			<input class='form-control' type="text" name="name"		placeholder="{% trans "Имя" %}"
				oninput='validateWord($(this))'>
			<br>
			<input class='form-control' type="text" name="patronymic"placeholder="{% trans "Отчество" %}"
				oninput='validateWord($(this))'>
			<br>
			<input class='form-control' type="password" name="password" placeholder="{% trans "Пароль" %}"
				id="teacher"
				oninput='validatePassword($(this))'>
			<br>
			<input class='form-control' type="password" placeholder="{% trans "Повторить пароль" %}"
				oninput='validatePasswordConfirmation($(this),"teacher")'>
			<br>
			<input type="hidden" name="user_type" value="teacher">
			<div class="form-group g-recaptcha" data-sitekey="6LeqAQ8TAAAAADlYhA7DjH54shULLYVTYHb_q56l"></div>
			<input type="submit" value="{% trans "Зарегистрироваться" %}">
	</form>