{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<link href="{% static 'home/styles.css' %}" rel="stylesheet">
		<title>{% block title %}{% endblock %}</title>
		<script src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
		{% block scripts %}{% endblock %}
	</head>

	<body>
		<div class='wrapper'>
			<header>
				{% block header %}
					<img id="logo" src="{% static 'home/logo.png' %}">
					<nav>
						{% block menu %}
							<ul>
								<li>[Пункт меню 1]</li>
								<li>[Пункт меню 2]</li>
								<li>[Пункт меню 3]</li>
								{% if request.user.is_authenticated %}
									<li><a href="{% url 'home:logout' %}">Выйти</a></li>
								{% else %}
									<li><a href="{% url 'home:login' %}">Войти</a></li>
									<li><a href="{% url 'home:reg' %}">Регистрация</a></li>
								{% endif %}
							</ul>
						{% endblock %}
					</nav>
				{% endblock %}
			</header>
			<main>
				{% block main %}
				{% endblock %}
			</main>
			<footer>
				{% block footer %}
				{% endblock %}
			</footer>
		</div>
	</body>
</html>
