{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<link href="{% static 'home/logo.ico' %}" rel="icon">
		<link href="{% static 'home/styles.css' %}" rel="stylesheet">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<title>{% block title %}{% endblock %}</title>

		<script src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
		{% block scripts %}{% endblock %}
	</head>

	<body>
		<div class='wrapper'>
			<header>
				{% block header %}
					<img id="logo" src="{% static 'home/logo.png' %}">
					<nav>
						{% block menu %}
							<ul>
								{%if user.is_authenticated %}
									<li><a href="{% url 'home:main' %}">{% trans "Главная" %}</a></li>
									<li><a href="{% url 'home:settings' %}">{% trans "Настройки" %}</a></li>
									{% if user_is_student %}
										<li>
											<a href='{% url "home:statistics" user.student.id %}'>
												{%trans "Статистика"%}
											</a>
										</li>
									{% endif %}
								{% endif %}
								{% if request.user.is_authenticated %}
									<li><a href="{% url 'home:logout' %}">
											{% trans "Выйти" %}
											<sub>[{{request.user.username}}]</sub>
										</a>
									</li>
								{% else %}
									<li><a href="{% url 'home:login' %}">{% trans "Войти" %}</a></li>
									<li><a href="{% url 'home:reg' %}">{% trans "Регистрация" %}</a></li>
								{% endif %}
							</ul>
						{% endblock %}
					</nav>
				{% endblock %}
			</header>
			<main>
				{% block main %}
				{% endblock %}
				<br><br>
			</main>
			<footer>
				{% block footer %}
				<span>{% trans "Выберите язык" %}:</span>
				<form id='language' action="{% url 'set_language' %}" method="post">
				{% csrf_token %}
				    <input name="next" type="hidden" value="{{ redirect_to }}" />
				    <select name="language" onchange="this.form.submit()">
						{% get_current_language as LANGUAGE_CODE %}
				        {% get_available_languages as LANGUAGES %}
				        {% get_language_info_list for LANGUAGES as languages %}			        
				        {% for language in languages %}
			            <option value="{{ language.code }}"
			            		{% if language.code == LANGUAGE_CODE %}
			            			selected="selected"
			            		{% endif %}
			            >
			                	{{ language.name_local }} ({{ language.code }})
			            </option>
				        {% endfor %}
				    </select>
				</form>
				{% endblock %}
			</footer>
		</div>
	</body>
</html>
