{% extends 'home/base.html' %}
{% load i18n %}

{% block title %} {% trans "Войти" %} {% endblock %}

{% block main %}

<div class="page-header">
	<h3 class="col-lg-offset-1">{% trans "Вход в систему" %}</h3>
</div>

{% if error_message %}
	<div class="alert alert-danger login-alert" role="alert">{{error_message}}</div>
{% endif %}

<form class="form-signin" action="{% url 'home:login' %}" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<label class="control-label" for="login">{% trans "Логин" %}</label>
		<input class="form-control" type="text" id="login" name='login'>
	</div>
	<div class="form-group">
		<label class="control-label" for="password">{% trans "Пароль" %}</label>
		<input class="form-control" type="password" id="password" name='password'>
	</div>

	<div class="form-group g-recaptcha" data-sitekey="6LeqAQ8TAAAAADlYhA7DjH54shULLYVTYHb_q56l"></div>

	<div class="form-group">
		<input type="submit" class="btn btn-primary" value='{% trans "Войти" %}'>
	</div>

</form>
{% endblock %}
