{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} Регистрация {% endblock %}

{% block scripts %}
	<script src="{% static "home/js/reg.js" %}"></script>
	<script src="{% static "home/js/valid.js" %}"></script>
{% endblock %}

{% block main %}
	<form action="{% url 'home:reg' %}" method="POST">
		{% csrf_token %}
			{% trans "Логин" %}		<input type="text" name="login"	placeholder="{% trans "Логин" %}">			<br>
			{% trans "E-mail" %}	<input type="email"name="email" placeholder="{% trans "E-mail" %}">			<br>
			{% trans "Фамилия" %}	<input type="text" name="surname" placeholder="{% trans "Фамилия" %}">		<br>
			{% trans "Имя" %}		<input type="text" name="name" placeholder="{% trans "Имя" %}">				<br>
			{% trans "Отчество" %}	<input type="text" name="patronymic" placeholder="{% trans "Отчество" %}">	<br>

			<span>{% trans "Курс" %}:</span>
			<select id="course" name="course" onchange="loadGroupsFrom({% url 'home:reg' %})">
				{% for course in courses %}
					<option value="{{course}}">{{course}}</option>
				{% endfor %}
			</select>
			<span>{% trans "Группа" %}:</span>
			<select id="group" name="group">
				<script>loadGroupsFrom({% url 'home:reg' %})</script>
			</select>
			<br>

			{% trans "Пароль" %}			<input type="password" placeholder="Пароль" name="{% trans "Пароль" %}"><br>
			{% trans "Повторить пароль" %}	<input type="password" placeholder="{% trans "Повторить пароль" %}">	<br>
											<input type="submit" value="{% trans "Зарегистрироваться" %}">

			<script>
			</script>
	</form>
{% endblock %}