{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Регистрация" %} {% endblock %}

{% block scripts %}
	<script src="{% static "home/js/reg.js" %}"></script>
	<script src="{% static "home/js/valid.js" %}"></script>
{% endblock %}

{% block main %}
	<span> {% trans "Регистрация" %} </span>
		<form>
			<span>{% trans "Студент" %}</span>
			<input type='radio' name='who' value='student' checked='true'>
			<span>{% trans "Преподаватель" %}</span>
			<input type='radio'	name='who' value='teacher'>
		</form>

		{% include 'home/reg-student.html' %}
		{% include 'home/reg-teacher.html' %}

		<script>
			formVisibilityToggle('student','teacher');
			formVisibilityToggle('teacher','student');
		</script>
{% endblock %}