{% extends 'home/base.html' %}
{% load staticfiles %}

{% block title %} Регистрация {% endblock %}

{% block scripts %}
	<script src="{% static "home/js/reg.js" %}"></script>
	<script src="{% static "home/js/valid.js" %}"></script>
{% endblock %}

{% block main %}
	<span> Регистрация </span>
		<form>
			<span>Студент:</span>
			<input type='radio' name='who' value='student' checked='true'>
			<span>Преподаватель</span>
			<input type='radio'	name='who' value='teacher'">
		</form>

		{% include 'home/reg-student.html' %}
		{% include 'home/reg-teacher.html' %}

		<script>
			formVisibilityToggle('student','teacher');
			formVisibilityToggle('teacher','student');
		</script>
{% endblock %}