{% extends 'home/base.html' %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block scripts %}
	<script src="{% static "home/js/js-cookie.js" %}"></script>
	<script src="{% static "home/js/settings.js" %}"></script>
	<script src="{% static "home/js/register.js" %}"></script>
{% endblock %}

{% block main %}
	{% if error_message %}
		<span class='error'> {{error_message}} </span>
	{% else %}

		<span>{% trans "Ведомость по дисциплине" %} {{subject.name}}</span><br>
		<span>{% trans "Группа" %} {{group.name}} </span><br>

		<table>
			<tr class='bottom-border'>
				<td class='right-border'></td>
				{% for job in subject.job_set.all %}
					<td class='centered'>
						{{job.short_name}}
					</td>
				{% endfor %}
			</tr>
			{% for student in group.student_set.all %}
				<tr>
					<td class='right-border'> {{student}} </td>
					{% for job in subject.job_set.all %}
						<td class='centered'>
							<input type='checkbox' class='no-margin' id='{{student.id}}-{{job.id}}'
									{% if student|log_entry_confirmed:job %}
										checked='checked'
									{% endif %}
									{% if not request.user|isTeacher %}
										disabled='disabled'
									{% endif %}
							>
							<span class='font12'>
								{% if student|log_entry_mark:job %}
									{{student|log_entry_mark:job}}
								{% endif %}
							</span>
						</td>
						{% if request.user|isTeacher %}
							<script>
								$('#{{student.id}}-{{job.id}}').on('click', function() {
									toggleLogRecord(
										{% url 'home:settings' %},
										{{ student.id }},
										{{ job.id }},
										$(this).prop('checked')
									)
								})
							</script>
						{% endif %}
					{% endfor %}
					<td class='font14'>
						<a href='#' id='pencil{{student.id}}'> &#9998; </a> {# pencil #}
						<div id='editor{{student.id}}' class='hidden centered popup'>
							<span>{{student}}</span>
							<span> - {{subject.short_name}} </span>
							<table  class='editor'>
								{% for job in subject.job_set.all %}
									<tr id='job{{job.id}}'>
										<td class='font14'> {{job.name}} </td>
										<td>
											<input type='number' min='0' max='100'
												placeholder='{% trans "Оценка" %}'
												id='mark-for{{job.id}}of{{student.id}}'
												{% if student|log_entry_confirmed:job %}
													value='{{ student|log_entry_mark:job }}'
												{% else %}
													disabled='disabled'
												{% endif %}

											>
										</td>
										<td>
											<input type='date' id='date-for{{job.id}}of{{student.id}}'
												{% if student|log_entry_confirmed:job %}
													value='{{ student|log_entry_date:job }}'
												{% else %}
													disabled='disabled'
												{% endif %}
											>
										</td>
										<script>
											$('#mark-for{{job.id}}of{{student.id}}').on('keyup mouseup', function() {
												changeMark(
													'{% url "home:register" subject.short_name group.name %}',
													{{student.id}},
													{{job.id}},
													$(this).val()											
												)
											})
											$('#date-for{{job.id}}of{{student.id}}').on('change', function() {
												changeDate(
													'{% url "home:register" subject.short_name group.name %}',
													{{student.id}},
													{{job.id}},
													$(this).val()
												)
											})
										</script>
									</tr>
								{% endfor %}
							</table>
							<input id='edit-ok-{{student.id}}' type='button' value='OK'>
							<script>
								$('#edit-ok-{{student.id}}').on('click',function(){
										$("#editor{{student.id}}").fadeOut(300);
										setTimeout(function(){location.reload()},300)
									})
							</script>
						</div>
						<script>
							$('#pencil{{student.id}}').on('click', function () {
								$('#editor{{student.id}}').fadeIn(300)
							})
						</script>
					</td>
				</tr>
			{% endfor %}
		</table>

	{% endif %}{# error_message #}

{% endblock %}