{% extends 'home/main.html' %}
{% load i18n %}
{% load filters %}

{% block student %}
	<span> {{ user.student.name }} {{ user.student.surname }}</span>
	<fieldset>
		<legend>{% trans "Предметы" %}</legend>
		<ul>
			{% for subject in subjects %}
				<li>
					{{subject.name}} ( {{ user.student|teacherOf:subject }} )
				</li>
			{% endfor %}
		</ul>
	</fieldset>

	<fieldset>
		<legend>{% trans "Работы" %}</legend>
			<ul class='outer'>
				{% for subject in subjects %}
					<li>
						{{subject.name}}
							<table class='left-border'>
								{% for job in subject.job_set.all %}
									<tr>
										<td>{{job.name}}</td>
										<td>
											<input class='no-margin' id='{{job.id}}' type='checkbox' name='passed'
												{% if job.id in passedJobsIds %}
													checked
												{% endif %}
												{% if user.student|log_entry_confirmed:job %}
													disabled="disabled"
												{% endif %} 
											>
										</td>
									</tr>
									<script>
										$('#{{job.id}}').on('click', function() {
											toggleLogRecord(
												{% url 'home:settings' %},
												{{ user.student.id }},
												{{ job.id }},
												$(this).prop('checked')
											)
										})
									</script>
								{% endfor %}
							</table>
					</li>
				{% endfor %}
			</ul>
	</fieldset>
{% endblock student %}