{% extends 'home/main.html' %}
{% load i18n %}
{% load filters %}

{% block student %}
	<span> {{ user.student.name }} {{ user.student.surname }}</span>
	<fieldset>
		<legend>{% trans "Предметы" %}</legend>
		<ul>
			{% for subject in subjects %}
				<li>
					{{subject.name}} ( {{ user.student|teacherOf:subject }} )
				</li>
			{% endfor %}
		</ul>
	</fieldset>

	<fieldset>
		<legend>{% trans "Работы" %}</legend>
			<ul class='outer'>
				{% for subject in subjects %}
					<li>
						{{subject.name}}
							<ul>
								{% for job in subject.job_set.all %}
									<li>{{job.name}}</li>
								{% endfor %}
							</ul>
					</li>
				{% endfor %}
			</ul>
	</fieldset>
{% endblock student %}