{% extends 'home/main.html' %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block teacher %}
	<span> {{ user.teacher.name }} {{ user.teacher.surname }}</span>
	<fieldset>
		<legend>{% trans "Предметы" %}</legend>
		<ul class='outer'>
			{% for subject in subjects %}
				<li>
					{{subject.name}}
					<ul>
					{% for semester in currentSemesters %}
						{% if subject in semester.subjects.all %}
							<li>
								<a href='{% url "home:register" subject.short_name semester.group.name %}'>
									{{ semester.group.name }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			<script>
				$('.drop_down').on('click',function () {
					$(this).children().slideToggle(100)
				})
			</script>
		</ul>
	</fieldset>

	<fieldset>
		<legend>{% trans "Работы" %}</legend>
			<ul class='outer'>
				{% for subject in subjects %}
					<li>
						{{subject.name}}
						<table class='left-border'>
							{% for job in subject.job_set.all %}
								<tr>
									<td>{{job.name}}</td>
								
									<td>
										<a href='#'
											onclick="editJobName(
												{% url 'home:settings' %},
												{{job.id}},
												'{% trans "Изменть название" %}',
												'{{job.name}}'
											)"
										>
											&#9998; {# pencil #}
										</a>
									</td>

									<td> {{job.short_name}} </td>

									<td>
										<a href='#'
											onclick="editJobShortName(
												{% url 'home:settings' %},
												{{job.id}},
												'{% trans "Изменть краткое название" %}',
												'{{job.short_name}}'
											)"
										>
											&#9998; {# pencil #}
										</a>
									</td>
									<td>
										<a href='#'
											onclick="deleteJob(
												{% url 'home:settings' %},
												{{job.id}},
												'{% trans "Удалить" %} {{job.name}}?'
											)"
										>
											&#10005; {# cross #}
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</li>
				{% endfor %}
			</ul>

			<label>{% trans "Предмет" %}</label>
			<select id='subject'>
				{% for subject in subjects %}
					<option value='{{subject.id}}'>{{subject.name}}</option>
				{% endfor %}
			</select>

			<input type='text' name='name' placeholder='{% trans "Название" %}'
					class='wide'>
			<input type='text' name='short_name' placeholder='{% trans "Кратко" %}*'
					class='short' title='{% trans "Например Лаб.3" %}'>
			<input id='add-button' type='button' value='{% trans "Добавить" %}'>

			<script>
				$('#add-button').on('click',function () {
					addJob(
						{% url "home:settings" %},
						$('select#subject').val(),
						$('input[name=name]').val(),
						$('input[name=short_name]').val()
					)
				})
			</script>

			<span class='block font14'>
				*
				{% trans "Рекомендуется заполнить все поля" %}
				"{% trans "Кратко" %}"
				{% trans "так как они используются в таблцие" %}
			</span>

	</fieldset>
{% endblock teacher %}