{% extends 'home/main.html' %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% block teacher %}
	<span> {{ user.teacher.name }} {{ user.teacher.surname }}</span>
	<fieldset>
		<legend>{% trans "Предметы" %}</legend>
		<ul class='outer'>
			{% for subject in subjects %}
				<li>
					{{subject.name}}
					<ul>
					{% for semester in currentSemesters %}
						{% if subject in semester.subjects.all %}
							<li class='drop_down'>
								{{ semester.group.name }}
								<table style='display:none'>
									{% for student in semester.group.student_set.all %}
										<tr>
											<td> {{student}} </td>
										</tr>
									{% endfor %}
								</table>
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			<script>
				$('.drop_down').on('click',function () {
					$(this).children().slideToggle(100)
				})
			</script>
		</ul>
	</fieldset>

	<fieldset>
		<legend>{% trans "Работы" %}</legend>
			<ul class='outer'>
				{% for subject in subjects %}
					<li>
						{{subject.name}}
						<table>
							{% for job in subject.job_set.all %}
								<tr>
									<td>{{job.name}}</td>
								
									<td>
										<a href='#'
											onclick="editJob(
												{% url 'home:settings' %},
												{{job.id}},
												'{% trans "Изменть название" %}',
												'{{job.name}}'
											)"
										>
											&#9998; {# pencil #}
										</a>
										<a href='#'
											onclick="deleteJob(
												{% url 'home:settings' %},
												{{job.id}},
												'{% trans "Удалить" %} {{job.name}}?'
											)"
										>
											&#10005; {# cross #}
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</li>
				{% endfor %}
			</ul>

			<label>{% trans "Предмет" %}</label>
			<select id='subject'>
				{% for subject in subjects %}
					<option value='{{subject.id}}'>{{subject.name}}</option>
				{% endfor %}
			</select>

			<input type='text' name='name' placeholder='{% trans "Название" %}'
					style='width: 300px'>
			<input id='add-button' type='button' value='Добавить'>

			<script>
				$('#add-button').on('click',function () {
					addJob(
						{% url "home:settings" %},
						$('select#subject').val(),
						$('input[name=name]').val()
					)
				})
			</script>

	</fieldset>
{% endblock teacher %}