{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Настройки" %} {% endblock %}

{% block scripts %}
	<script src="{% static 'home/js/settings.js' %}"></script>
	<script src="{% static 'home/js/js-cookie.js' %}"></script>
{% endblock %}

{% block main %}
	{% if error_message %}
		<span class='error'> {{error_message}} </span>
	{% elif success_message %}
		<span class='success'> {{success_message}} </span>
	{% else %}

		{% if user_is_student %}
			{% block student %}{% endblock %}

		{% elif user_is_teacher %}
			{% block teacher %}{% endblock %}
			
		{% endif %}

		<div class="page-header">
			<h3>{% trans "Изменить пароль" %}</h3>
		</div>
		<form action="{% url 'home:settings' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="old-password">{% trans "Старый пароль" %}</label>
				<input class="form-control" id="old-password" name='old-password' type='password'>
			</div>
			<div class="form-group">
				<label class="control-label" for="new-password">{% trans "Новый пароль" %}</label>
				<input class="form-control" id="new-password" name='new-password' type='password'>
			</div>
			<div class="form-group">
				<label class="control-label" for="repeat-password">{% trans "Повторить пароль" %}</label>
				<input class="form-control" id="repeat-password" name='repeat-password' type='password' >
			</div>
			<div class="form-group">
				<input type='submit' class="btn btn-primary" value='{% trans "Изменить" %}'>
			</div>
		</form>

		{% endif %} {#error message#}

{% endblock %}