{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Настройки" %} {% endblock %}

{% block scripts %}
	<script src="{% static 'home/js/settings.js' %}"></script>
	<script src="{% static 'home/js/js-cookie.js' %}"></script>
{% endblock %}

{% block main %}
	{% if error_message %}
		<span class='error'> {{error_message}} </span>
	{% elif success_message %}
		<span class='success'> {{success_message}} </span>
	{% else %}

		{% if user_is_student %}
			{% block student %}{% endblock %}

		{% elif user_is_teacher %}
			{% block teacher %}{% endblock %}
			
		{% endif %}

		<form action="{% url 'home:settings' %}" method="post">
		{% csrf_token %}
			<fieldset>

				<legend>{% trans "Изменить пароль" %} </legend>
				
					<input name='old-password' type='password' placeholder='{% trans "Старый пароль" %}'><br>
					<input name='new-password' type='password' placeholder='{% trans "Новый пароль" %}'><br>
					<input name='repeat-password' type='password' placeholder='{% trans "Повторить пароль" %}'><br>
					<input type='submit' value='{% trans "Изменить" %}'>
				
			</fieldset>
		</form>

	{% endif %} {#error message#}

{% endblock %}