{% extends 'home/settings/base.html' %}
{% load i18n %}

{% block teacher %}
		<div class="page-header">
			<h3>{% trans "Предметы" %}</h3>
		</div>
		{% for subject in subjects %}
			<label>
				<input type='checkbox'
						id='{{subject.id}}'
						{% if subject in user.teacher.subjects.all %}
							checked='checked'
						{% endif %}
				>
				{{subject.name}}
			</label>
			<br>
			<script>
				//handlers

				$('input#{{subject.id}}').on('click',function(e){

					var check = $(this);

					if ($(check).is(':checked')) {
						toggleTeacherSubjectRecord(
							{% url 'home:settings' %},							{# link for ajax request #}
							{{subject.id}},										{# subject id #}
							true
						)
						check.attr('checked','checked')
					}else{
						toggleTeacherSubjectRecord(
							{% url 'home:settings' %},							{# link for ajax request #}
							{{subject.id}},										{# subject id #}
							false
						)
						check.attr('checked',false)
					}

					$('#deleting-subject-modal').modal('show');
					$('#confirm-deleting-subject-button').click(function() {
						$('#deleting-subject-modal').modal('hide');

						if (check.is(':checked')) {
							toggleTeacherSubjectRecord(
								{% url 'home:settings' %},							{# link for ajax request #}
								{{subject.id}},										{# subject id #}
								false
							)
							// check.attr('checked','checked')
							check.attr('checked',false)
						}else{
							toggleTeacherSubjectRecord(
								{% url 'home:settings' %},							{# link for ajax request #}
								{{subject.id}},										{# subject id #}
								true
							)
							check.attr('checked','checked')
							// check.checked = true;
							// check.removeAttr('checked')
						}
						// check.checked = 'checked'
					})








					// if ($(this).is(':checked')) {
					// 	toggleTeacherSubjectRecord(
					// 		{% url 'home:settings' %},							{# link for ajax request #}
					// 		{{subject.id}},										{# subject id #}
					// 		true
					// 	)
					// 	$(this).removeAttr('checked')
					// } else {
					// 	$('#deleting-subject-modal').modal('show');
					// 	$('#confirm-deleting-subject-button').click(function() {
					// 		$('#deleting-subject-modal').modal('hide');
					// 		toggleTeacherSubjectRecord(
					// 			{% url 'home:settings' %},							{# link for ajax request #}
					// 			{{subject.id}},										{# subject id #}
					// 			false
					// 		)
					// 		$(this).attr('checked','checked')
					// 	})
					// }
				})
			</script>
		{% endfor %}

		<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleting-subject-modal">
  Launch demo modal
</button>

<!-- Modal
<div class="modal fade" id="deleting-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Подтвердить изменение?" %}</h4>
      </div>
      <div class="modal-body">
        {% trans "Удалить этот предмет из преподаваемых? У каждого вашего студента так же удалится информация о том, что они изучают его!" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Отменить" %}</button>
        <button type="button" class="btn btn-primary" id="confirm-deleting-subject-button">{% trans "Подтвердить" %}</button>
      </div>
    </div>
  </div>
</div>
-->
<div class="modal fade" id="deleting-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Сделано!" %}</h4>
      </div>
      <div class="modal-body">
        {% trans "Можете отменить, если хотите!" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirm-deleting-subject-button">{% trans "Отменить" %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
